* {
    -fx-primary: #2A2E37;
    -fx-secondary: #3A3F48;
    -fx-primarytext: white;
    -fx-blue: #1976D2;
    -fx-red: #FF0000;
    -fx-color-1: #1976D2;
}

.root {
    -fx-background-color: #2A2E37;
}

.button {
    -fx-background-color: -fx-blue;
    -fx-text-fill: white;
    -fx-background-radius: 20;
}

.transparent-btn {
    -fx-background-color: transparent;
}

.root-label {
    -fx-text-fill: white;
}

.text-field-icon {
    -fx-fill: white;
}

.text-field-normal {
    -fx-text-fill: white;
}