.table-view {
    -fx-padding: 0;
    -fx-border-radius: 8px;
    -fx-border-color: linear-gradient(to bottom right, #188ba7, #306090);
}

.table-view .column-header-background {
    -fx-background-color: linear-gradient(to bottom right, #188ba7, #306090);
    -fx-background-insets: 0 0 0 0;
    -fx-background-radius: 8px 8px 0 0;
}

.table-view .column-header,
.filter {
    -fx-size: 40px;
    -fx-background-color: transparent;
}

.table-view .column-header .label {
    -fx-font-family: Arial;
    -fx-text-fill: #fff;
}

/* change opacity of each column line */
.table-view .column-header-background .filler {
    -fx-background-color: rgba(255, 255, 255, 0.1);
}

* {
    -fx-primary: #2A2E37;
    -fx-secondary: #3A3F48;
    -fx-primarytext: white;
    -fx-blue: #1976D2;
    -fx-red: #FF0000;
    -fx-color-1: #1976D2;
}

.button {
    -fx-background-color: -fx-blue;
    -fx-text-fill: white;
    -fx-background-radius: 20;
}

.transparent-btn {
    -fx-background-color: transparent;
}

.root-label {
    -fx-text-fill: white;
}

.home-btn {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-border-color: -fx-secondary;
    -fx-border-width: 5;
    -fx-background-radius: 0;
}

.home-btn:hover {
    -fx-background-color: -fx-secondary;
    -fx-border-color: -fx-primarytext;
    -fx-cursor: hand;
}

/* 
#gay {
    -fx-border-color: #2e8b57;
    -fx-border-width: 2px;
    -fx-padding: 20px;
} */